<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="css/navbar.css" />
    <title>SpringBoot Assessment</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-todoList active">
                    <a class="nav-link" th:href="@{index}">View ToDo List</a>
                </li>
                <li class="nav-todoList">
                    <a class="nav-link" th:href="@{addlist}">Add ToDo List</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Target Date</th>
                </tr>
            </thead>
            <tbody id="row">
                <tr>
                    <th scope="row">1</th>
                    <td>Start as JFSD</td>
                    <td>Complete Course on Full Stack and get a job as JFSD</td>
                    <td>10/06/2022</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <script src="js/bootstrap.bundle.min.js"></script> -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/todoController.js"></script>
    <script src="js/todoListing.js"></script>
</body>

</html>